.charecter_general {
  display: block;
  width: 75%;
  height: 800px;
  margin: 0 auto;
  padding: 10px;
}
.general_charecter_info {
  display: grid;
  grid-template-columns: auto 20%;
  width: 100%;
  height: 100px;
}
.important_stats_general_holder {
  display: grid;
  grid-template-columns: 48% 16% auto;
  gap: 10px;
}
.all_stats_holder {
  height: 615px;
  display: grid;
  grid-template-columns: 21% 20% auto;
}
.left_pannel {
  width: auto;
  height: 620px;
}
.prof_pannel_center {
  width: 90%;
  margin: 10px auto;
  border: 2px solid #f44336;
  border-radius: 5px;
  padding: 10px;
}
.right_panel {
  width: 100%;
  display: grid;
  grid-template-rows: 20% auto;
}
.right_panel_top {
  display: grid;
  grid-template-columns: 20% 20% auto;
  padding: 5px;
}
.save_btn_holder_position {
  position: fixed;
  right: 20px;
  top: 120px;
  width: 150px;
}
.save_btn_position {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #f44336;
  cursor: pointer;
}
@media only screen and (max-width: 1400px) {
  .charecter_general {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .general_charecter_info {
    grid-template-columns: auto 20%;
  }
  .charecter_general {
    display: block;
    width: 92%;
    height: 100%;
    margin-left: 10px;
    margin-right: auto;
    padding: 0;
  }
  .important_stats_general_holder {
    display: grid;
    grid-template-columns: 70% auto;
    justify-content: space-around;
  }
  .all_stats_holder {
    margin-top: 20px;
    display: block;
  }
  .skill_midsize,
  .proff_midsize,
  .save_midsize,
  .rest_minsize,
  .resistance_midsize {
    display: grid;
    grid-template-columns: auto 99%;
    position: absolute;
    right: 0;
    background-color: black;
    border: 1px solid #f44336;
    text-align: center;
    box-shadow: 0 0 20px white;
    z-index: 1;
  }
  .save_midsize {
    top: 120px;
  }
  .proff_midsize {
    top: 255px;
  }
  .skill_midsize {
    top: 345px;
  }
  .left_pannel {
    width: 350px;
    height: auto;
    overflow-y: scroll;
  }

  .save_btn_holder_position {
    position: static;
    margin: auto auto;
    right: 0px;
    top: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .resistance_midsize {
    top: 300px;
  }
  .rest_minsize {
    top: 165px;
  }
  .general_charecter_info {
    display: block;
  }
  .important_stats_general_holder {
    display: block;
  }
  .charecter_general {
    width: 85%;
    height: 100%;
  }
  .right_panel_top {
    grid-template-columns: 50% auto;
    width: 350px;
  }
}
