.btn_add__style {
  background-color: rgb(161, 161, 161);
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 2rem;
  cursor: pointer;
  width: 9vw;
}
.btn_load_more {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 1rem 6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30rem;
  margin-top: 2rem;
  cursor: pointer;
}
