.buttons_health_mng {
  width: 80px;
  height: 25px;
  color: white;
}
.values_calculators_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.health_managment {
  grid-template-columns: 30% auto;
  width: 100%;
}

.health_text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.health_text > span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.health_value_style {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.temp_hp_style_general {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}
.temp_hp_style_general > span:last-child {
  font-size: 40px;
  color: rgb(26, 201, 224);
}
.health_value_style > input {
  width: 55px;
  height: 35px;
}
.death_saving_throws_general {
  display: grid;
  grid-template-rows: 30% auto auto;
  height: 100%;
  text-align: center;
}
.death_throw {
  display: grid;
  grid-template-columns: 50% auto;
}
.death_saving_throws_general > span {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.saving_throws {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
