.display__style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.battle_box {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-top: 1rem;

}
.stat_battle_box {
  width: 6vw;
  height: 100%;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.encounter_box__style {
  background-color: white;
}
.image__style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  filter: grayscale(40%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.encounter_name__style {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  font-size: 2.5ch;
  font-weight: bold;
  color: black;
}
.stat_text__style {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.health__styling {
  font-weight: bold;
  margin: 5px;
}
.modal__style {
  z-index: 1;
  width: 14vw;
  height: 28vh;
  position: absolute;
  background-color: black;
  opacity: 90%;
}
.detail__style > span{
  padding: 1vh;
  width: auto;
  margin-top: 4px;
  border-radius: 5px;
  background-color: white;
  text-align: right;
  font-weight: bold;
  color:#f44336;
}
.detail__style > span > span{
  float: left;
  font-weight: bold;
  color:#151617;
}
.detail__style{
  display: flex;
  flex-direction: column;
}
.resandvun_text__style {
  font-size: 2.1ch;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.condition__txt__style {
  margin-left: 1rem;
  font-size: 1.5ch;
}
.red_condition {
  color: #f44336;
}
.green_condition {
  color: #4caf50;
}
.orange_condition {
  color: orange;
}
.input__style {
  width: auto;
  height: 3vh;
  border: none;
  text-align: center;
  padding: 8px 10px;
  margin-right: 0;
}
.add {
  border: none;
  background-color: #4caf50;
}
.subtract {
  border: none;
  background-color: #f44336;
}
.add:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px #4caf50;
}
.subm_subt__style {
  font-size: 18px;
  font-weight: bold;
  width: auto;
  height: 3.5vh;
  margin-left: 1vw;
}
.death_modal_text___style {
  z-index: 1;
  font-size: 6ch;
  color: #f44336;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 6rem;
}
.delete_btn__holder {
  text-align: center;
  border: none;
}
.delete_btn__style {
  margin-top: 5vh;
  background-color: #f44336;
  padding: 1.5vh 6vw;
  color: #fff;
  border: none;
  font-size: 2ch;
}

.delete_btn__style:hover,
.subtract:hover {
  background-color: #f44336;
  box-shadow: 0 0 20px #f44336;
}
.pc_name_style {
  color: white;
  margin: 0;
  outline: #000;
}
.pc_name_style:focus {
  color: white;
}
.pc_level__style {
  margin-top: 2.5vw;
  color: aliceblue;
}
@media only screen and (max-width: 1400px) {
  .encounter_box__style {
    width: 29vw;
    height: 29vh;
    background-color: white;
    text-decoration: none;
    text-align: center;
  }
  .encounter_name__style,
  .pc_level__style {
    width: 29vw;
    font-size: 2.5ch;
    margin-left: -14.5vw;
  }
  .pc_level__style {
    margin-top: 3vw;
    margin-left: 0.1vw;
  }
  .modal__style {
    width: 29vw;
    height: 29vh;
  }
  .death_modal_text___style {
    margin-top: 5rem;
    font-size: 6ch;
  }
}
@media only screen and (max-width: 600px) {
  .encounter_box__style {
    width: 25vw;
    height: 25vh;
    background-color: white;
    text-decoration: none;
    text-align: center;
  }
  .encounter_name__style {
    width: 25vw;
    font-size: 2.5ch;
    color: #000;
    margin-left: -12.5vw;
  }
  .pc_level__style {
    margin-top: 7.5vw;
    margin-left: 0.1vw;
  }
  .modal__style {
    width: 25vw;
    height: 25vh;
  }
  .death_modal_text___style {
    margin-top: 8vh;
    font-size: 4ch;
  }
  .resandvun_text__style {
    font-size: 1.8ch;
  }
}
