.battle_box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.stat_battle_box {
  width: 90px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.stat_battle_box > div {
  margin-top: 15px;
}
.encounter_box__style {
  background-color: white;
}
.disabled_button {
  background: #ced9e0 !important;
  color: #738694 !important;
  cursor: auto !important;
  opacity: 1 !important;
}
.heal_button {
  background-color: #00c797;
  border: none;
  color: #fff !important;
  order: -1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.damage_button {
  background-color: #bc0f0f;
  border: none;
  color: #fff !important;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.image__style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  filter: grayscale(40%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.encounter_name__style {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  font-weight: bold;
  color: black;
}
.text__style {
  font-family: Roboto, Open Sans, Helvetica, sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.health__styling {
  padding: 10px;
  background-color: #d8e1e8;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 50% auto;
}
.modal__style {
  z-index: 1;
  position: absolute;
  background-color: black;
  opacity: 90%;
}
.detail__style > span {
  padding: 1vh;
  width: auto;
  margin-top: 4px;
  border-radius: 5px;
  background-color: white;
  text-align: right;
  font-weight: bold;
  color: #f44336;
}
.detail__style > span > span {
  float: left;
  font-weight: bold;
  color: #151617;
}
.detail__style {
  display: flex;
  flex-direction: column;
}
.resandvun_text__style {
  font-size: 2.1ch;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.condition__txt__style {
  margin-left: 1rem;
  font-size: 1.5ch;
}
.red_condition {
  color: #f44336;
}
.green_condition {
  color: #4caf50;
}
.orange_condition {
  color: orange;
}
.input__wraper {
  background-color: #f5f8fa;
  border: 2px solid #f5f8fa;
  border-radius: 8px;
  padding: 8px 12px;
  position: relative;
}
.input__wraper:after {
  border-top: 1px solid #84878a;
  bottom: 6px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(100% - 24px);
}
.input__style {
  outline: none;
  width: 150px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #30404d;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 100%;
  padding: 0 !important;
  text-align: center;
}

.subm_subt__style {
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 3.5vh;
}
.death_modal_text___style {
  z-index: 1;
  font-size: 6ch;
  color: #f44336;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 6rem;
}
.delete_btn__holder {
  text-align: center;
  border: none;
}
.delete_btn__style {
  margin-top: 5vh;
  background-color: #f44336;
  padding: 1.5vh 6vw;
  color: #fff;
  border: none;
  font-size: 2ch;
}
.delete_btn__style:hover {
  background-color: #f44336;
  box-shadow: 0 0 20px #f44336;
}
.content_pc__style {
  z-index: 1;
  position: absolute;
  display: grid;
  grid-template-rows: 20% 50% 20%;
  color: white;
}
.input_pc__style {
  background-color: #15161769;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  float: left;
  text-align: center;
}
.level__style {
  text-align: center;
  font-size: 32px;
  color: #f3f4f5;
  font-weight: bolder;
}
@media only screen and (max-width: 1400px) {
  .encounter_box__style {
    background-color: white;
    text-decoration: none;
    text-align: center;
  }
  .encounter_name__style,
  .death_modal_text___style {
    margin-top: 5rem;
    font-size: 6ch;
  }
}
@media only screen and (max-width: 600px) {
  .battle_box {
    margin-left: auto;
    margin-right: auto;
  }
  .encounter_box__style {
    background-color: white;
    text-decoration: none;
    text-align: center;
  }
  .encounter_name__style {
    width: 25vw;
    font-size: 2.5ch;
    color: #000;
    margin-left: -12.5vw;
  }
  .pc_level__style {
    margin-top: 7.5vw;
    margin-left: 0.1vw;
  }
  .death_modal_text___style {
    margin-top: 8vh;
    font-size: 4ch;
  }
  .resandvun_text__style {
    font-size: 1.8ch;
  }
}
