.general_style_option_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name_input_of_saved {
  width: 180px;
  padding: 3px;
}
.load_presets {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 19, 39);
}
