.attacks_big_box {
  border: 2px solid red;
  border-radius: 3px;
  height: 485px;
  display: grid;
  grid-template-rows: 10% auto;
  overflow-y: auto;
}
.attacks_navigation {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 15%);
  font-size: 14px;
  color: white;
  text-align: center;
  margin: auto;
  justify-content: space-around;
}
.attacks_navigation > div {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .attacks_big_box {
    width: 400px;
  }
}
