.attacks_big_box {
  border: 2px solid red;
  border-radius: 3px;
  height: 485px;
  display: grid;
  grid-template-rows: 10% auto;
  overflow-y: auto;
}
.attacks_navigation {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 40px;
  font-size: 14px;
  color: white;
  text-align: center;
  margin: auto;
}
.attacks_navigation > div {
  cursor: pointer;
}
