.difficulty_box__style{
    height: 15rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.main_text__style{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.xp_box__style{
    display: flex;
    flex-direction: row;
}
.xp_box__style >div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.titles__styles{
    align-self:flex-end;
    font-size: 16px;
    margin-right: 2rem;
    font-weight: bold;
    color: grey;
}
.monster_xp__style{
    align-self: flex-start;
    margin-left: 1rem;
}
.content__styles{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 1rem;
}
