.monster_box__style {
  width: 18rem;
  height: 5rem;
  margin: auto;
  margin-top: 2rem;
  background-color: white;
  box-shadow: -2px 2px  #888888;
  display: flex;
  flex-direction: row;
}
.generel_info__style {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.generel_info__style > div {
  height: auto;
  display: flex;
  flex-direction: column;
}
.first_info_box {
  margin-left: 1rem;
  width: 60%;
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
}
.second_info_box {
  width: 30%;
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);

}
.desc_text__style {
  align-self: flex-end;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}
.black {
  color: black;
  margin-left: 1rem;
}
.monster_name__style {
  font-weight: bold;
  font-size: 20px;
}
.desc_behavior {
  font-size: 14px;
}
