.spells_orientation {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.spells_block {
  display: grid;
  grid-template-rows: 10% auto;
  margin: auto;
  height: 390px;
}
.general_spell_title {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid grey;
  width: 95%;
  align-items: flex-end;
  justify-content: space-around;
}
.spells_display_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 270px;
  gap: 10px;
  padding: 10px;
  overflow: scroll;
  align-content: flex-start;
}
.one_spell {
  width: 240px;
  display: grid;
  grid-template-columns: 90% auto;
  border-bottom: 1px solid grey;
}
.one_spell_style {
  cursor: pointer;
  text-align: center;
  color: #f44336;
  font-weight: bolder;
  font-size: 16px;
  height: 30px;
  font-family: Mrs Eaves;
}
.add_spell_style {
  text-align: center;
  margin-left: 75px;
  cursor: pointer;
}
.title_spell_text {
  font-size: 18px;
  font-weight: bold;
  color: #58170d;
}
.text_spell_style {
  margin-left: 10px;
  color: #58170d;
}
.remove_spel_button {
  background-color: #f44336;
  border: #f44336;
}
.spell_name_style {
  font-family: Mrs Eaves;
  color: #58170d;
  font-size: 2rem;
  font-weight: bolder;
  font-variant: small-caps;
  text-transform: capitalize;
  margin: -10px 0px -5px 0px;
}
.spell_text_block,
.search_spells {
  z-index: 1000;
  left: 0;
  top: 0;
  width: auto;
  border: 3px solid #f44336;
  overflow: scroll;
  max-height: 92%;
}
.search_spells {
  background-color: #090a0a;
  display: grid;
  grid-template-rows: auto 93%;
  min-width: 10px;
  min-height: 400px;
  padding: 5px;
  position: absolute;
  color: white;
}
.search_spells_window {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search_spells_window_button {
  width: 100%;
  color: white;
  background-color: red;
}
.search_spells_window_button:hover {
  box-shadow: 0 0 20px #ececec;
}
.spell_text_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  top: 0;
  background-color: #f4ebd4;
  min-width: 200px;
  max-width: 400px;
  max-height: 500px;
  padding: 15px;
  position: fixed;
  color: #f44336;
  border-radius: 5px;
}
.components_style {
  margin-left: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f44336;
  font-family: "Times New Roman", Times, serif;
}
.close_btn_pop_up {
  cursor: pointer;
  width: 25px;
  background-color: #f44336;
  border: none;
  color: #ececec;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}
.modifier_solo_view {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.modifire_value {
  font-size: 18px;
  color: white;
}
.spell_level_btns {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.spell_btn_holders {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  width: 200px;
  align-items: center;
}
.title_holder,
.btn_text {
  font-size: 14px;
  font-weight: bold;
}
.btn_text {
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
}
.spell_add_remove_btn_holders {
  display: flex;
  gap: 15px;
  flex-direction: row;
  cursor: pointer;
}
.slots_display {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .one_spell {
    width: 185px;
   
  }
 }