.big_box {
  z-index: 3;
  position: fixed;
  margin: 0 auto;
  margin-top: 5vh;
  width: 100%;
}
.box_design {
  display: flex;
  max-height: 750px;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(238, 235, 231);
  background-image: url("https://i.stack.imgur.com/kb0Zm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}
.first_half,
.second_half {
  width: 37%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.image_half {
  width: 25%;
  margin-top: 2vh;
}
.image_half > img {
  width: 90%;
}
.life_stiling {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.life_stiling > div {
  display: flex;
  flex-direction: row;
}
.leader {
  padding: 0.5rem;
  font-size: 16px;
}
.numbers {
  padding: 0.5rem;
}
.name_box {
  display: flex;
  flex-direction: column;
}
.name_box > div {
  padding-top: 1rem;
  padding-left: 3rem;
}
.name_styling {
  font-size: 28px;
}
.table__styling {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
}

.table__boxes {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
.skills_style {
  padding-right: 0.5rem;
}
.skills_style,
.table__boxes,
.name_box,
.leader,
.action__styles {
  font-family: Georgia, "Times New Roman", serif;
  color: #6d0000;
  font-weight: 600;
}
.action__styles {
  font-size: 24px;
  margin-left: 3ch;
}
.action_text__styles {
  width: 85%;
  margin: auto;
}
hr {
  border-top: 2px solid #6d0000;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
  .table__styling {
    padding-left: 1rem;
  }
  .table__boxes {
    padding: 0.3rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 800px) {
  .box_design {
    margin-top: 10vh;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .table__styling {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
  }

  .table__boxes {
    font-weight: 600;
    padding: 0.5rem;
  }
  .first_half,
  .second_half {
    width: 100%;
  }
  .image_half {
    margin-top: 2vh;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .table__styling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0rem;
  }
  .table__boxes {
    width: 80px;
    font-size: 18px;
    padding: 0.5rem;
  }
  .life_stiling {
    padding: 0;
  }
}
