.box_design {
  z-index: 101;
  position: absolute;
  margin-left: 5vw;
  margin-top: 10vh;
  width: 85%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(238, 235, 231);
}
.first_half, .second_half {
  width: 37%;
}
.image_half {
  width: 25%;
}
.image_half > img {
  width: 90%;
}
.life_stiling {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.life_stiling > div {
  display: flex;
  flex-direction: row;
}
.leader {
  padding: 0.5rem;
  font-size: 16px;
}
.numbers {
  padding: 0.5rem;
}
.name_box {
  display: flex;
  flex-direction: column;
}
.name_box > div {
  padding-top: 1rem;
  padding-left: 3rem;
}
.name_styling {
  font-size: 28px;
}
.table__styling {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
}

.table__boxes {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
.skills_style {
  padding-right: 1rem;
}
.skills_style,
.table__boxes,
.name_box,
.leader,
.action__styles {
  font-family: Georgia, "Times New Roman", serif;
  color: #6d0000;
  font-weight: 600;
}
.action__styles {
  font-size: 24px;
  margin-left: 3ch;
}
.action_text__styles{
  width: 85%;
  margin: auto;
}
hr {
  border-top: 2px solid #6d0000;
  width: 90%;
  margin: 0 auto;
}
