body {
  margin: 0 auto !important;
  float: none !important;
}
body,
#root {
  height: 100%;
  min-height: 100vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #c0dbec75;
  max-width: 1920px;
}
.button {
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px #4caf50;
}
