
html, body, #root {
  height: 100%;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
      }
body{
  background-color: #ebf1f5;
}

.button{
  cursor: pointer;
}
.button:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px #4caf50;
}