.arrow {
  width: 1.5vw;
  height: 5vh;
}
.right_arrow {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.left_arrow {
  margin: 0;
  position: absolute;
  top: 50.3%;
  left: 15vw;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
