.calc_button__size {
  height: 8vh;
  background-color: #263139;
  color: white;
  border: none;
  border: 1px solid #334a5a;
  display: inline-block;
}
.calc_button__font_size {
  font-size: 2ch;
}
.calc_button__size:hover {
  background-color: #334a5a;
  cursor: pointer;
}

