.text_area__size {
  width: 100%;
  height: 70%;
  resize: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: #8a8f92;
  color: white;
  border: none;
}

.die_sum__size {
  height: 30%;
  width: 100%;
}
.die_style__text {
  text-align: center;
  color: white;
  font-size: 30px;
}
.calc_box__style_size {
  height: 15.5vh;
}
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 600px) {
 .calc_box__style_size {
  height: 20vh;
}

}