.text_area__size {
  width: 100%;
  min-height: 70%;
  resize: none;
  font-size: 2.5ch;
  border-radius: 5px;
  background-color: #8a8f92;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.die_sum__size {
  min-height: 30%;
  width: 100%;
}
.die_style__text {
  text-align: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.calc_box__style_size {
  height: 15.5vh;
}
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 600px) {
 .calc_box__style_size {
  height:35vh;
}
.text_area__size{
  font-size: 3.5ch;
}
.die_sum__size{
  font-size: 6ch;
}
}