.small_box__size {
  width: auto;
  min-height: 100%;
  position: relative;
  border: none;
  border-radius: 0 0 5px 5px;
}
.dice__style{
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.calc__style{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.small_box__color_back {
  background-color: #263139;
}
.style{
  width: 100%;
  margin: 0;
}