.monster_voter_style {
  width: 90%;
  height: 3rem;
  max-height: 3rem;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.image__style {
  margin-left: 0;
  float: left;
  width: 3.5rem;
}
.main_monster__info {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.main_monster__info > div {
  width: 15%;
  margin: auto;
  text-align: center;
}
.voting_booth {
  width: 20%;
  display: flex;
  flex-direction: row;
}
.voting_booth > div {
  width: 25%;
  margin: auto;
  text-align: center;
}
.read_button__style {
  padding: 1ch 0 1ch 0;
  display: inline-block;
  font-size: 16px;
  border: none;
  font-weight: 400;
  background-color: #f44336;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  text-align: center;
  color: white;
}
.read_button__style:hover {
  color: white;
  box-shadow: 0 0 20px #f44336;
}

.button_style {
  padding: 2rem 0 2rem 0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.green {
  background-color: #4caf50;
}
.green:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px #4caf50;
}
.grey {
  background-color: rgba(128, 128, 128, 0.308);
}

.red {
  background-color: #f44336;
}
.red:hover {
  background-color: #f44336;
  box-shadow: 0 0 20px #f44336;
}
@media only screen and (max-width: 1400px) {
  .monster_voter_style {
    width: 100%;
  }
  .button_style {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 600px) {
  
  .monster_voter_style {
    width: 100%;
  }
  .button_style,.read_button__style {
    font-size: 14px;
    padding: 5px 8px;
  }
  .main_monster__info{
    font-size: 14px;
  }
  .main_monster__info > .monster_name__style {
    min-width:40%;
  }
  .main_monster__info >.read_button__style{
    min-width:20%;

  }
  .voting_booth{
    width: 30%;
  }
}
