.monster_voter_style {
  width: 75%;
  height: 3rem;
  max-height:3rem;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: bisque;
  box-shadow: 5px 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

/* .monster_voter_style > div{
        width: 100%;
} */
.main_monster__info {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.main_monster__info > div {
  width: 15%;
  margin: auto;
  text-align: center;
}
.voting_booth {
  width: 20%;
  display: flex;
  flex-direction: row;
}
.voting_booth > div {
  width: 25%;
  margin: auto;
  text-align: center;
}
.read_button__style{
        background-color: rgb(255, 53, 3);
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
        padding: 0.2rem;
        color: white;
        
}

.green{
  padding: 2rem 0 2rem 0;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.red{
  padding: 2rem 0 2rem 0;
  background-color: #f44336; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
