.saving_trows_box {
  border-radius: 5px;
  margin-top: 10px;
  width: 250px;
  border: 2px solid red;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}
.saving_box {
  background-color: white;
  width: 100px;
  height: 20px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2% 80% auto;
  border-radius: 5px 0px 0px 5px;
}
.saving_text {
  text-align: center;
}
.saving_value_holder {
  z-index: 5;
  background-color: grey;
  border: 1px solid red;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  margin-top: -5px;
  width: 30px;
  height: 30px;
}
.button_radio {
  z-index: 5;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
