.flex_box__style{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.serch_box__style{
    height:100%;
    /* margin-top: 1rem; */
    margin-left: 3rem;
    width: 18.4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
 
}
.library__style{
    height: 70%;
    width: 71rem;
    margin-top: 1rem;


}
.encounter__style{
    display: flex;
    flex-direction: column;
}