.flex_box__style {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 64% 21%;
}
.btn__style__custom{
    margin-left: 10px;
    font-size: 16px;
    color:white;
}

.encounter__style {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.serch_box__style {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.summary_general__style {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.party_setup__window {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 2rem;
  
}
.mobile_minimal__vue {
  display: none;
}
@media only screen and (max-width: 600px) {
  .btn__style__custom{
    display: none;
  }
  .btn_load_more {
    margin-left: 25px;
  }
  .flex_box__style {
    display: block;
  }
  .big_player__box {
    display: none;
  }
  .party_setup__window {
    width: 100%;
  }
  .library__style {
    min-height: 70%;
    width: 100%;
    margin: auto;
  }
  .serch_box__style {
    display: none;
  }
  .summary_general__style {
    display: none;
  }
  .party_setup__window {
    display: none;
  }
  .mobile_minimal__vue {
    display: flex;
  }
  .drawer__style {
    background-color: rgba(8, 8, 8, 0.918);
    margin: auto;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .drawer_opener__style {
    margin: auto;
    padding: 1ch 4ch;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 10px #aaaaaa;
    background-color: #3c6acc;
    color: #fff;
    font-size: 1.6ch;
  }
}
