
@media only screen and (max-width: 1400px) {
    .every_input__style{
        width: 30%;
        height: 6vh;
    }
    .capital_text__style{
        margin-left: 2vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    .every_input__style{
        width: 45%;
        height: 6vh;
    }
    .capital_text__style{
        margin-left: 2vw;
    }
  }
  
@media only screen and (max-width: 600px) {
    .every_input__style{
        width: 100%;
        height: 6vh;
    }
    .capital_text__style{
        margin-left: 4vw;
    }
  
}