.form__style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.submit_btn__style{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
    margin-left: 45%;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
    .submit_btn__style{
     
        margin-left: 25%;
        margin-bottom: 2rem;
    }

}