.textarea__style {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-left: 1rem;
  width: 29vw;
  min-height: 30vh;
}
.capytal__style {
  font-size: 2.2ch;
  font-weight: 300;
  color: #3c6acc;
}
@media only screen and (max-width: 1400px) {
    .textarea__style {
      margin-left: 1rem;
      width: 45%;
      min-height: 15vh;
    }
  }
@media only screen and (max-width: 600px) {
  .textarea__style {
    margin-left: 1rem;
    width: 100%;
    min-height: 15vh;
  }
}
