.important_stats_stats_holder {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.semi_important_stats {
  border: 2px solid red;
  min-width: 75px;
  height: 75px;
  padding: 5px;
  text-align: center;
}
.semi_important_stats > span:first-child {
  font-size: 12px;
  font-weight: bold;
}
.semi_important {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.semi_important_text_style {
  color: grey;
  font-size: 30px;
}
.stats_general_box {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: 70px;
  height: 75px;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 35px;
}

.stats_general_box > span:first-child {
  font-size: 10px;
  font-weight: bold;
}

.total_stat {
  position: absolute;
  bottom: -12.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 25px;
  font-size: 16px;
  border: 2px solid red;
  font-style: italic;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.hp_box_general {
  border: 3px solid grey;
  border-radius: 5px;
  width: auto;
  height: 75px;
  padding: 5px;
  display: grid;
  grid-template-columns: 30% auto 30%;
}
@media only screen and (max-width: 800px) {
  .semi_important_stats>input{
    width: 80px;
    height: 50px;
    font-size: 20px;
  }
  .semi_important_stats{
    max-width: 80px;
  }
  .hp_box_general {
    width: 90%;
    margin: 0 auto;
  }
}