.important_stats_stats_holder {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.semi_important_stats {
  border: 2px solid red;
  min-width: 75px;
  height: 75px;
  padding: 5px;
  text-align: center;
}
.semi_important_stats > span:first-child {
  font-size: 12px;
  font-weight: bold;
}
.semi_important {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.semi_important_text_style {
  color: grey;
  font-size: 30px;
}
.stats_general_box {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: 70px;
  height: 75px;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 35px;
}
.stats_general_box > span:first-child {
  font-size: 10px;
  font-weight: bold;
}
.total_stat {
  position: absolute;
  width: 35px;
  height: 25px;
  font-size: 16px;
  border: 2px solid red;
  /* color: black; */
  font-style: italic;
  border-radius: 50%;
  margin-top: 65px;
  margin-left: 15px;
  text-align: center;
  background-color: white;
}
.hp_box_general {
  border: 3px solid grey;
  border-radius: 5px;
  width: auto;
  height: 75px;
  padding: 5px;
  display: grid;
  grid-template-columns: 30% auto 30%;
}
@media only screen and (max-width: 800px) {
  .medium_size_hp_svg {
    display: grid;
    grid-template-columns: auto 99%;
    position: absolute;
    right: 0;
    background-color: black;
    border: 1px solid red;
    text-align: center;
    box-shadow: 0 0 20px white;
    z-index: 10;
    top: 210px;
  }
  .hp_box_general {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .hp_box_general {
    width: 300px;
  }
  .important_stats_stats_holder {
    gap: 2px;
  }
  .stats_general_box {
    border: 1px solid red;
    width: 50px;
    height: 55px;
    padding: 3px;
    font-size: 20px;
  }
  .total_stat {
    width: 35px;
    height: 25px;
    font-size: 16px;
    border: 1px solid red;
    margin-top: 45px;
    margin-left: 8px;
    text-align: center;
    background-color: white;
  }
}
