.other {
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
  border: 2px solid #f44336;
  height: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  overflow: scroll;
}
.main_text {
  text-align: center;
  font-weight: bolder;
}
.items_text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}
