.add_player_btn__style{
  color:white;
  font-size: 18px;
}
.select__style {
  width: 15ch;
  margin-bottom: 0.5rem;
}
.center_elements {
  margin: 0 auto;
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .select__style {
    width: 20ch;
    margin-bottom: 0.5rem;
  }
}
