.add_player_btn__style {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 1ch 3ch;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.select__style {
  width: 15ch;
  margin-bottom: 0.5rem;
}
.center_elements {
  margin: 0 auto;
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
}
@media only screen and (max-width: 600px) {
  .select__style {
    width: 20ch;
    margin-bottom: 0.5rem;
  }
}
