.add_player_btn__style {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.select__style{
  width: 8rem;
  margin-bottom: 0.5rem;
}
.center_elements{
  margin: 0 auto;
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
}