.box_player__style {
  margin-top: 0.5rem;
  width: 8vw;
  background-color: #585757;
  color: white;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
}
.box_player__style > div {
  padding: 0.5rem 0.5rem;
}
.delete_this {
  margin-left: auto;
  margin-right: 0;
  border-radius: 0.2rem;
  background-color: #f44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  font-size: 18px;
}
.news_box__stayel{
  height: 11rem;
  display: flex;
  padding: 1vmin;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;

}
@media only screen and (max-width: 600px) {
    .box_player__style {
      width:35vw;
      color: white;
      font-size: 16px;
    }
    .news_box__stayel{
      height: 18vh;
      padding: 1vmin;
    }
}