.box_bcc__color {
  border: 1px solid black;
  color: black;
}

.box_size {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 15%;
  min-height: 40%;
  border-radius: 5px;
  border: none;
}
