.btn {
  width: 12vw;
  height: 4vh;
  /* margin-top: 50px; */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.modal_big_box__style {
  z-index: 2;
  position: fixed;
  width: 30%;
  min-height: 80px;
  max-height: 300px;
  background-color: white;
  box-shadow: 0 0 20px grey;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35vh;
  text-align: center;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 3ch;
  font-weight: 600;
}
.modal_big_box__style > span {
  margin-top: 2vh;
}
.confirm__style {
  background-color: #4caf50;
}
.confirm__style:hover {
  box-shadow: 0 0 20px #4caf50;
}
.reject__style {
  margin-left: 3vw;
  background-color: #f44336;
}
.reject__style:hover {
  box-shadow: 0 0 20px #f44336;
}
@media only screen and (max-width: 1400px) {
  .btn {
    width: 12vw;
    height: 4vh;
    margin-top: 7%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 2ch;
    color: white;
  }
  .modal_big_box__style {
    width: 50%;
    font-size: 2ch;
  }
}
@media only screen and (max-width: 600px) {
  .btn {
    width: 30vw;
    height: 4vh;
    margin-top: 7%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 2ch;
    color: white;
  }
  .modal_big_box__style {
    width: 80%;
    font-size: 1.5ch;
  }
}
