.container_box__style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5px;
  gap: 20px;
  justify-content: center;
}
.fromStart {
  justify-content: flex-start;
  align-content: flex-start;
}
.fromEnd {
  align-items: flex-end;
}
