.container_box__style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.fromStart {
  justify-content: flex-start;
  align-content: flex-start;
}
