.news_box_bcc__color {
  border: 1px solid black;
  color: black;
  filter: grayscale(50%);
  margin: 0 auto;
}

.news_box_size {
  width: 30rem;
  min-height: 30%;
  max-height: 60%;
  padding: 20px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .news_box_size {
    width: 80%;
    min-height: 25%;

  }
}