.modal_big_box__style {
  z-index: 3;
  position: fixed;
  width: 30vw;
  height: 25vh;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30vh;
  text-align: center;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.big_text__style {
  font-size: 32px;
  font-weight: bold;
  margin-top: 5vh;
  color: #3ded97;
}
.text__style {
  font-size: 18px;
  margin-top: 2vh;
  color: #808080;
}
.image__style {
  position: absolute;
  width: 7vw;
  height: 12vh;
  margin-left: 11vw;
  margin-top: -6vh;
}

@media only screen and (max-width: 1400px) {
    .modal_big_box__style {
        width: 75%;
      }
      .image__style {
        position: absolute;
        width: 20%;
        margin-left: 39%;
        margin-top: -6vh;
      }
      .big_text__style {
        font-size: 5ch;
      }
      .text__style {
        font-size: 2.5ch;
      }
}
@media only screen and (max-width: 600px) {
  .modal_big_box__style {
    width: 100%;
  }
  .image__style {
    position: absolute;
    width: 25%;
    margin-left: 39%;
    margin-top: -6vh;
  }
  .big_text__style {
    font-size: 4ch;
  }
  .text__style {
    font-size: 2ch;
  }
}
